.nacolor {
    background-color: rgb(188, 186, 189);
}

.abdiv {
    border: 1px solid;

}

.img-1 {
    height: 400px;
    width: 100%;

}

.row1 {
    display: flex;
    justify-content: space-evenly;
    margin-top: -250px;
    column-gap: 40px;


}

.a3 {
    background-color: rgb(79, 78, 78);
    border: 1px solid;
    height: 170px;



}

.card {
    border-radius: 4px;
    background: #f9f9f9;
    box-shadow: 0 6px 10px rgba(0, 0, 0, .08), 0 0 6px rgba(0, 0, 0, .05);
    transition: .3s transform cubic-bezier(.155, 1.105, .295, 1.12), .3s box-shadow, .3s -webkit-transform cubic-bezier(.155, 1.105, .295, 1.12);
    padding: 14px 80px 18px 36px;
    cursor: pointer;

}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, .06);
}

@media only screen and (max-width: 768px)  {
    .row1 {

        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 0;

    }
    .img1{
        display: flex;
        flex-direction: column;
    }

    .card {
        margin-left: 20px;
       
    }

}

.main_card {
    display: flex;
    justify-content: center;
    align-items: center;
}
     @media only screen and (max-width:1281px){

        .row1 {
    
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-left: 10;
    
        }
    
        .card {
            margin-left: 5px;
           
        }
    
    } 


 

  
