.home_img{
    background-image: url(image/pexels-designecologist-1389460.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 683px;
    /* width: 100%; */
  
}
.navclr{
    background-color: #f8ebd3;
}