.home_content h1 {
  font-family: "Times New Roman", Times, serif;
  font-size: 80px;
  color: rgba(0, 85, 52, 255);
  padding-bottom: 120px;
}

.Home_imgstyle {
  height: 320px;
  width: 320px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  background-size: contain;
}

.home_para {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.how-section1 {
  margin-top: -15%;
  padding: 10%;
}

.how-section1 h4 {
  color: rgba(0, 85, 52, 255);
  font-weight: bold;
  font-size: 30px;
}

.how-section1 .subheading {
  color: #3931af;
  font-size: 20px;
}

.how-section1 .row {
  margin-top: 10%;
}

.how-img {
  text-align: center;
}

@media only screen and (max-width: 768px) {
  body {
    font-size: 14px;
  }

  .container .logo_design {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 13px;
  }

  .container .alignment {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .home_content h1 {
    font-size: 20px;
  }

  .home_para {
    font-size: 16px;
  }
}

@media only screen and (max-width: 1281px) {
  .container .logo_design {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 15px;
  }

  .home_content h1 {
    padding-bottom: 150px;
    font-size: 35px;
  }

  .container .alignment {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
}
@media only screen and (max-width: 480px) {
  .container .logo_design {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 12px;
  }
  .home_content h1 {
    padding-bottom: 120px;
    font-size: 30px;
  }
  .container .alignment {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
}
