#neubar {
    background: white;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  }
  
  #neubar .nav-item {
    margin: auto 4px;
  }
  
  #neubar a {
    padding-left: 12px;
    padding-right: 12px;
  }
  
  a.navbar-brand {
    color: #454545
  }
  .logo_design{
    font-family: 'Times New Roman', Times, serif;
    color: rgba(0,85,52,255);
    font-weight: 250;
    font-size: 25px;
    
  }
  .logo_content{
    font-size: 22px; 
    font-family: 'Times New Roman', Times, serif; 
   
  }

  
  
  .dropdown:hover .dropdown-menu {
    display: block;
    right: 0;
    margin-left: 200px;
    position: absolute;
  
  }
  
  
  .Container_Products ul li {
    font-size: 15px;
    font-weight: 500;
    top: 20px;
  }
  
  .Container_Products ul li a:hover {
    color: gray;
  }
  
  .Container_Products ul li a {
    color: black;
    text-decoration: none;
  }
  
  .Container_Products {
    display: flex;
    justify-content: left;
    align-items: center;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    width: 850px;
  }
  
  .Head_cont {
  
    font-weight: bolder;
  }
  
  .Container_Products ul {
    list-style-type: none;
  
  
  }
  @media (max-width: 992px) {
    #neubar .navbar-collapse {
        background-color: #fff;
    }
  
    /* #neubar .navbar-toggler-icon {
        background-color: #333;
    } */
  
    /* #neubar .collapse.navbar-collapse {
        text-align: center;
    } */
  
    /* #neubar .navbar-nav {
        margin-top: 10px;
    } */
  
    .Container_Products {
        width: 100%;
        box-sizing: border-box;
        padding: 10px;
    }
  
    .Container_Products ul li {
        top: 0;
    }
  
    .Container_Products .row {
        flex-wrap: wrap;
    }
  
    .Container_Products .col-sm {
        width:650px;
        margin-bottom: 15px;
    }
    .dropdown:hover .dropdown-menu {
      display: block;
      right: 0;
      margin-left: 200px;
      position: absolute;
    }
  }
  @media (max-width: 992px) {
    #neubar .navbar-collapse {
      background-color: #fff;
  }
  

  
  .Container_Products {
      width: 100%;
      box-sizing: border-box;
      padding: 10px;
  }
  
  .Container_Products ul li {
      top: 0;
  }
  
  .Container_Products .row {
      flex-wrap: wrap;
  }
  
  .Container_Products .col-sm {
      width:350px;
      margin-bottom: 15px;
  }
  .dropdown:hover .dropdown-menu {
    display: block;
    right: 0;
    margin-left: 200px;
    position: absolute;
  }
  }


  @media only screen and (max-width: 768px) {
    body {
      font-size: 14px;
    }
  
    .container .logo_design {
      display: flex;
      justify-content: space-around;
      align-items: center;
      font-size: 18px;
  
    }
  
    .container .alignment {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
    }
  
    .home_content h1 {
    
      font-size: 20px;
    }
  
    .home_para {
      font-size: 16px;
      
    }
  }
  
  @media only screen and (max-width: 1281px) {
    .container .logo_design {
      display: flex;
      justify-content: space-around;
      align-items: center;
      font-size: 15px;
  
    }
  
    .home_content h1 {
      padding-bottom: 150px;
      font-size: 35px;
    }
  
    .container .alignment {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
    }
  }
  @media only screen and (max-width: 480px){
    .container .logo_design {
      display: flex;
      justify-content: space-around;
      align-items: center;
      font-size: 12px;
  
    }
    .home_content h1 {
      padding-bottom: 120px;
      font-size: 30px;
    }
    .container .alignment {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
    }
  }
  @media only screen and (max-width: 320px){

    .container .logo_design {
      display: flex;
      justify-content: space-around;
      align-items: center;
      font-size: 12px;
  
    }
    .home_content h1 {
      padding-bottom: 120px;
      font-size: 30px;
    }
    .container .alignment {

      display: flex;
      justify-content: center;
      align-items: center;
    }
  }